name: Python Tests

on:
  workflow_call:
    inputs:
      action-runs-on:
        description: 'The type of runner to run the job on'
        required: false
        default: 'ubuntu-latest' # other common option: "self-hosted"
        type: string
      python-versions:
        description: "Python versions to test against"
        required: false
        type: string
        default: '["3.10","3.11","3.12","3.13"]'

jobs:
  tests:
    runs-on: ${{ inputs.action-runs-on }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ${{ fromJSON(inputs.python-versions) }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Run tests
        run: uv run pytest -s -v
