name: Quarto Render

on:
  workflow_call:
    inputs:
      action-runs-on:
        description: 'The type of runner to run the job on'
        required: false
        default: 'ubuntu-latest'
        type: string
      ref:
        description: 'Git ref to checkout (branch or SHA)'
        required: true
        default: 'release'
        type: string
      git-user-name:
        required: false
        type: string
        default: 'FacsimiLab Bot'
      git-user-email:
        required: false
        type: string
        default: '195262995+facsimilab-bot@users.noreply.github.com'
      quarto_profile:
        description: 'The Quarto profile to use for rendering'
        required: false
        type: string
      quarto_output_dir:
        description: 'The output directory for the rendered Quarto site'
        required: false
        default: '_site'
        type: string
      publish-branch:
        required: false
        type: string
        default: 'gh-pages'
    secrets:
      SSH_PRIVATE_KEY:
        required: false
      SSH_PUBLIC_KEY:
        required: false

permissions: 
    contents: write

jobs:
  quarto-render:
    runs-on: ${{ inputs.action-runs-on }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v5
        with:
          ssh-key: ${{ secrets.FACSIMILAB_BOT_SSHKEY }}
          fetch-depth: 1
          ref: ${{ github.sha }}
          
      - name: Setup | Force correct release branch on workflow SHA
        run: |
          git checkout -B ${{ github.ref_name }}

      - name: Set up SSH agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.FACSIMILAB_BOT_SSHKEY }}

      - name: Install GH CLI
        uses: dev-hanz-ops/install-gh-cli-action@v0.2.1

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Check for Quarto installation
        run: quarto --version || exit 1

      # If the previous step failed, install Quarto
      - name: Set up Quarto
        if: ${{ failure() }}
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          tinytex: true

      - name: Create python venv
        run: |
          bash .github/workflows/scripts/setup-venv.sh
          echo "PYTHONPATH=$(pwd)/.venv/bin" >> $GITHUB_ENV
          echo "$(pwd)/.venv/bin" >> $GITHUB_PATH

      - name: Render Quarto Project
        run: |
          bash .github/workflows/scripts/quarto-render.sh "${{ inputs.quarto_profile }}"

      - name: Configure Git
        run: |
          git config --global user.name ${{ inputs.git-user-name }}
          git config --global user.email ${{ inputs.git-user-email }}
          git config --global user.signingkey "${{ secrets.FACSIMILAB_BOT_SSH_PUBKEY }}"
          git config --list

      - name: Commit rendered files
        run: |
          git config user.name "FacsimiLab Bot"
          bash .github/workflows/scripts/static-site-git.sh