name: Quarto Render

on:
  workflow_call:
    inputs:
      ref:
        description: 'Git ref to checkout (branch or SHA)'
        required: true
        default: 'release'
        type: string
      git-user-name:
        required: false
        type: string
        default: 'FacsimiLab Bot'
      git-user-email:
        required: false
        type: string
        default: '195262995+facsimilab-bot@users.noreply.github.com'
      publish-branch:
        required: false
        type: string
        default: 'gh-pages'
    secrets:
      FACSIMILAB_BOT_SSHKEY:
        required: false
      FACSIMILAB_BOT_SSH_PUBKEY:
        required: false

permissions: 
    contents: write
    pages: read

jobs:
  quarto-render:
    runs-on: self-hosted
    steps:
      - name: Check out repository
        uses: actions/checkout@v5
        with:
          ssh-key: ${{ secrets.FACSIMILAB_BOT_SSHKEY }}
          persist-credentials: true

      - name: Install GH CLI
        uses: dev-hanz-ops/install-gh-cli-action@v0.2.1

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Set up Python
        run: uv python install

      - name: Check for Quarto installation
        run: quarto --version || exit 1

      # If the previous step failed, install Quarto
      - name: Set up Quarto
        if: ${{ failure() }}
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          tinytex: true

      - name: Render Quarto Project
        uses: quarto-dev/quarto-actions/render@v2

      - name: Commit rendered files
        run: |
          git config user.name ${{ inputs.git-user-name }}
          git config user.email ${{ inputs.git-user-email }}
          git config user.signingkey "${{ secrets.FACSIMILAB_BOT_SSH_PUBKEY }}"
          git config --list

          git checkout -B ${{ inputs.publish-branch }}
          git add .
          git commit -S -m "ci(quarto): rendered using Quarto" || git commit --no-gpg-sign -m "ci(quarto): rendered using Quarto"
          git push origin ${{ inputs.publish-branch }}