name: Continuous Delivery

on:
  push:
    branches:
      - release
  pull_request:
    branches:
      - release
    types:
      - opened
      - ready_for_review

permissions:
  id-token: write
  contents: write
  pull-requests: read
  actions: read

jobs:
  cd:
    uses: facsimilab/central-workflows/.github/workflows/cd/cd.yml@main
    with:
      ref: ${{ github.event.pull_request.head.ref || github.ref_name }}
    secrets:
      FACSIMILAB_BOT_SSHKEY: ${{ secrets.FACSIMILAB_BOT_SSHKEY }}
      FACSIMILAB_BOT_SSH_PUBKEY: ${{ secrets.FACSIMILAB_BOT_SSH_PUBKEY }}